{% extends "base.html" %}
{% load staticfiles i18n %}


{% block content %}
    <div class='col-md-12' id='set_select'>
        <h1 id='set_name'>Set</h1>
        <select id='sets'></select>
    </div>
    <div class='col-md-4' id='toggles'>
        <h1>Filtration</h1>
        <table id='colors'>
            <thead>
                <tr>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                <tr id='Colorless' class='color-picker'><td>Colorless</td></tr>
                <tr id='White' class='color-picker'><td>White</td></tr>
                <tr id='Blue' class='color-picker'><td>Blue</td></tr>
                <tr id='Black' class='color-picker'><td>Black</td></tr>
                <tr id='Red' class='color-picker'><td>Red</td></tr>
                <tr id='Green' class='color-picker'><td>Green</td></tr>
                <tr id='Abzan' class='color-picker'><td>Abzan</td></tr>
                <tr id='Jeskai' class='color-picker'><td>Jeskai</td></tr>
                <tr id='Sultai' class='color-picker'><td>Sultai</td></tr>
                <tr id='Temur' class='color-picker'><td>Temur</td></tr>
                <tr id='Mardu' class='color-picker'><td>Mardu</td></tr>
                <tr id='Bant' class='color-picker'><td>Bant</td></tr>
                <tr id='Esper' class='color-picker'><td>Esper</td></tr>
                <tr id='Grixis' class='color-picker'><td>Grixis</td></tr>
                <tr id='Naya' class='color-picker'><td>Naya</td></tr>
                <tr id='Jund' class='color-picker'><td>Jund</td></tr>
                <tr id='Boros' class='color-picker'><td>Boros</td></tr>
                <tr id='Selesnya' class='color-picker'><td>Selesnya</td></tr>
                <tr id='Dimir' class='color-picker'><td>Dimir</td></tr>
                <tr id='Golgari' class='color-picker'><td>Golgari</td></tr>
                <tr id='Orzhov' class='color-picker'><td>Orzhov</td></tr>
                <tr id='Gruul' class='color-picker'><td>Gruul</td></tr>
                <tr id='Izzet' class='color-picker'><td>Izzet</td></tr>
                <tr id='Simic' class='color-picker'><td>Simic</td></tr>
                <tr id='Azorius' class='color-picker'><td>Azorius</td></tr>
                <tr id='Rakdos' class='color-picker'><td>Rakdos</td></tr>
            </tbody>
        </table>
    </div>
    <div class='col-md-8' id='barchart'>
        <h1>Barchart</h1>
    </div>
    <div class='col-md-8' id='table' >
        <h1>Cards</h1>
        <table class='table table-hover'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Cost</th>
                    <th>Rarity</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class='col-md-4' id='card'>
        <h1>Card Image</h1>
        <img class='thumbnail'>
    </div>
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
        var card_set;
        var card_set_name;
        var rect_width = .8;  // How much space on the x domain to use
        var x_min = -1;
        var rect_draw_width = x_min+rect_width  // for conversion into scale units
        $(function(){
            $('.color-picker').hide();
            array_equals = function (comparison, array) {
                // if the other array is a falsy value, return
                if (!array)
                    return false;

                // compare lengths - can save a lot of time
                if (comparison.length != array.length)
                    return false;

                for (var i = 0, l=comparison.length; i < l; i++) {
                    // Check if we have nested arrays
                    if (comparison[i] instanceof Array && array[i] instanceof Array) {
                        // recurse into the nested arrays
                        if (!comparison[i].equals(array[i]))
                            return false;
                    }
                    else if (comparison[i] != array[i]) {
                        // Warning - two different object instances will never be equal: {x:20} != {x:20}
                        return false;
                    }
                }
                return true;
            }

            // Setup
            $.getJSON('http://mtgjson.com/json/SetList.json', function(data){
                data.forEach(function(set){
                    $('#sets').prepend($("<option>").attr('value',set.code).text(set.name));
                    // $('#sets').append(new Option(set.name, set.code))
                })
            })

            $('#sets').change(function(){
                var set = $('#sets option:selected')[0].value
                card_set_name = set
                $('h1#set_name').text(
                    'Set: '+$('#sets option:selected')[0].text
                )
                api_url = 'http://mtgjson.com/json/'+set+'.jsonp'
                var mtgjsoncallback = function(data){}
                $.ajax({
                    url: api_url,
                    dataType:'jsonp',
                    jsonpCallback:'mtgjsoncallback',
                    success: function(data){
                        card_set = data
                        updateSelectors()
                        $(document).trigger('update')
                    }
                })
            })

            var updateSelectors = function(){
                var color_sample = d3.nest()
                .key(function(d){return cardColor(d)})
                .entries(card_set.cards);
                colors = []
                color_sample.forEach(function(d){
                    colors.push(d.key)
                })

                $('.color-picker').each(function(){

                    if(colors.indexOf($(this).attr('id')) == -1){
                        $(this).removeClass('active-color')
                        $(this).hide('fast')
                    }else{
                        $(this).show('fast')
                    }
                })
            }

            var total_width = $('#barchart').width()
            var total_height = 300;
            var duration = 100;
            var margin = {top: 15, right: 15, bottom: 25, left: 35},
                width = total_width - margin.right - margin.left,
                height = total_height - margin.top - margin.bottom;

            var svg = d3.select('#barchart').append('svg:svg')
            .attr('width', total_width)
            .attr('height', total_height)
            .append('g')
            .attr('transform', 'translate('+margin.left+','+margin.top+')')

            var xScale = d3.scale.linear().domain(
                    [x_min, 0]
                ).range([0, width])


            var xAxis = svg.append('g').attr('class', 'x-axis')
                .attr('transform', 'translate(0,'+height+')')
                .call(
                    d3.svg.axis().scale(xScale).orient('bottom')
                )

            xAxis.append('text')
                .attr('class', 'x-axis-label')
                .attr('y', '0')
                .attr('x', width)
                .style('text-anchor', 'end')
                .text('Converted Mana Cost')

            var yScale = d3.scale.linear().domain([0, 10]).range([height, 0])

            var yAxis = svg.append('g').attr('class', 'y-axis')
                .attr('transform', 'translate(0,0)')
                .call(
                    d3.svg.axis().scale(yScale).orient('left').tickFormat(d3.format("d"))
                )

            yAxis.append('text')
                .attr("class", "y-axis-label")
                .attr("transform", "rotate(-90)")
                .attr("y", 6)
                .attr("dy", ".71em")
                .style("text-anchor", "end")
                .text('Count');

            // Utility
            function updateImage(card){
                url  = "http://mtgimage.com/set/"+card_set_name+"/"+card.imageName+".jpg";
                $('#card img').attr("src", url.replace(/ /g,"_"));
            }
            function cardColor(card){
                if($.inArray('colors',Object.keys(card))==-1){
                    return 'Colorless'
                }else{
                    colors = card.colors.sort()
                }
                if(array_equals(colors,['White'])){
                    return 'White'
                }
                else if(array_equals(colors,['Blue'])){
                    return 'Blue'}
                else if(array_equals(colors,['Black'])){
                    return 'Black'}
                else if(array_equals(colors,['Red'])){
                    return 'Red'}
                else if(array_equals(colors,['Green'])){
                    return 'Green'}
                else if(array_equals(colors,['Black','Blue'])){
                    return 'Dimir'}
                else if(array_equals(colors,['Black','Green'])){
                return 'Golgari'}
                else if(array_equals(colors,['Black','Red'])){
                return 'Rakdos'}
                else if(array_equals(colors,['Black','White'])){
                return 'Orzhov'}
                else if(array_equals(colors,['Blue','Green'])){
                return 'Simic'}
                else if(array_equals(colors,['Blue','Red'])){
                return 'Izzet'}
                else if(array_equals(colors,['Blue','White'])){
                return 'Azorius'}
                else if(array_equals(colors,['Green','Red'])){
                return 'Gruul'}
                else if(array_equals(colors,['Green','White'])){
                return 'Selesnya'}
                else if(array_equals(colors,['Red','White'])){
                return 'Boros'}
                else if(array_equals(colors,['Black','Blue','White'])){
                return 'Esper'}
                else if(array_equals(colors,['Black','Blue','Red'])){
                return 'Grixis'}
                else if(array_equals(colors,['Blue','Green','White'])){
                return 'Bant'}
                else if(array_equals(colors,['Green','Red','White'])){
                return 'Naya'}
                else if(array_equals(colors,['Black','Green','Red'])){
                return 'Jund'}
                else if(array_equals(colors,['Black','Green','White'])){
                return 'Abzan'}
                else if(array_equals(colors,['Blue','Red','White'])){
                return 'Jeskai'}
                else if(array_equals(colors,['Blue','Green','Red'])){
                return 'Temur'}
                else if(array_equals(colors,['Black','Blue','Green'])){
                return 'Sultai'}
                else if(array_equals(colors,['Black','Red','White'])){
                return 'Mardu'}
                else{return 'other'}
            }
            function cardCmc(card){
                if($.inArray('cmc', Object.keys(card))==-1){
                    return 0
                }else{
                    return card.cmc
                }
            }
            function getColors(){
                var color_lst =[]
                $.each($('.color-picker.active-color'), function(k, v){
                    color_lst.push(v.id);
                })
                return color_lst
            }
            function filterCards(){
                var color_lst = getColors()
                var cards = card_set.cards.filter(function(card){
                    return $.inArray(cardColor(card), color_lst)!==-1
                })
                return cards
            }
            function rowCard(card){
                return '<td>'+card.name+'</td><td>'+cardCmc(card)+'</td><td>'+card.rarity+'</td><td>'+card.type+'</td>'
            }

            function tableUpdate(cmc, color){
                tablecards = card_set.cards.filter(function(card){
                    return cardCmc(card) == cmc && cardColor(card) == color
                })
                rows = d3.select('#table tbody').selectAll('tr').data(tablecards, function(d){
                    return d.multiverseid
                });
                rows.exit().remove();
                rows.enter().append('tr').html(function(d){
                    return rowCard(d)
                }).on('click', function(d){
                    updateImage(d)
                })
                if(tablecards.length==1){
                    updateImage(tablecards[0]);
                }
            }
            function dataFromCards(cards){
                var costs = {};
                $.each(cards, function(k, card){
                    if(!(cardCmc(card) in costs)){
                        costs[cardCmc(card)]=1
                    }
                })
                costs = Object.keys(costs)

                var color_lst = getColors()
                data = d3.nest()
                .key(function(d){return cardCmc(d)})
                .key(function(d){return cardColor(d)})
                .rollup(function(leaves){return leaves.length})
                .entries(cards);

                return data
            }

            // Behavior
            $('.color-picker').on('click', function(){
                $(this).toggleClass('active-color');
                $(document).trigger('update')
            })

            $(document).on('update', function(){
                var cards = filterCards()
                var data = dataFromCards(cards)
                data.forEach(function(d){
                    d.total = 0
                    d.values.forEach(function(x){
                        x.cmc = d.key
                        x.offset = d.total
                        d.total += x.values
                    })
                })

                var max_val = d3.max(data, function(d){return parseInt(d.key)})
                max_val += 2;

                xScale.domain([x_min, max_val])

                var xTransition = xAxis.transition().duration(duration)
                xTransition.ease('linear').call(
                    d3.svg.axis().scale(xScale).orient('bottom').tickFormat(d3.format("d"))
                )



                yScale.domain(
                    [0, d3.max(data, function(d){return d.total})]
                    )

                yAxis.transition().duration(duration).ease('linear')
                    .call(
                        d3.svg.axis().scale(yScale).orient('left')
                        .tickFormat(d3.format("d"))
                    );

                var cmc_rects = svg.selectAll('.cmc-groups').data(data);
                cmc_rects.exit().remove();

                cmc_rects.attr('transform', function(d){
                    return 'translate('+xScale(parseInt(d.key)-rect_width/2)+',0)'
                });

                cmc_rects.enter().append('g')
                    .attr('class', 'cmc-groups')
                    .attr('transform', function(d){
                        console.log(d)
                        return 'translate('+xScale(parseInt(d.key)-rect_width/2)+',0)'
                    });

                var card_rects = cmc_rects.selectAll('.data-rect')
                    .data(function(d){return d.values});

                card_rects.on('click', function(d){
                    tableUpdate(d.cmc, d.key)
                })

                card_rects.exit().transition().duration(0)
                .attr('width', 0)
                .remove();

                card_rects.enter().append('rect')
                .attr('width', xScale(rect_draw_width))
                .attr('class', function(d){return 'data-rect '+d.key})
                .attr('height', function(d){
                    return height-yScale(d.values)
                }).attr('y', function(d){
                    return yScale(d.values+d.offset)}
                ).on('click', function(d){
                    tableUpdate(d.cmc, d.key)
                });

                card_rects.transition().duration(duration)
                .attr('width', function(){
                    return xScale(rect_draw_width);
                })
                .attr('class', function(d){return 'data-rect '+d.key})
                .attr('height', function(d){
                    return height-yScale(d.values)
                }).attr('y', function(d){
                    return yScale(d.values+d.offset)}
                );

            })

        })

    </script>
{% endblock extra_js %}

{% block extra_css %}
    <style type="text/css">
        select option{
            color:#000000;
        }
        select option:selected{
            color:#000000;
        }
        tr.active-color{
            background-color: #5F5F5F;
        }
        div#card img{
            width: 300px;
        }

        /* Barchart Styling */
        rect.data-rect{
            stroke:#000000;
        }
        rect.data-rect.White{
            fill:#FFFFFF;
        }
        rect.data-rect.Blue{
            fill:#11209A;
        }
        rect.data-rect.Black{
            fill:#2C2C2C;
        }
        rect.data-rect.Red{
            fill:#9B1A1A;
        }
        rect.data-rect.Green{
            fill:#005B12;
        }
        rect.data-rect.Abzan{
            fill:#4EAD58;
        }
        rect.data-rect.Jeskai{
            fill:#504EBD;
        }
        rect.data-rect.Sultai{
            fill:#888888;
        }
        rect.data-rect.Temur{
            fill:#4AA856;
        }
        rect.data-rect.Mardu{
            fill:#B16363;
        }
        rect.data-rect.Bant{
            fill:#004C09;
        }
        rect.data-rect.Esper{
            fill:#004C09;
        }
        rect.data-rect.Grixis{
            fill:#004C09;
        }
        rect.data-rect.Naya{
            fill:#004C09;
        }
        rect.data-rect.Jund{
            fill:#004C09;
        }
        rect.data-rect.Boros{
            fill:#A39B00;
        }
        rect.data-rect.Selesnya{
            fill:#A39B00;
        }
        rect.data-rect.Dimir{
            fill:#A39B00;
        }
        rect.data-rect.Golgari{
            fill:#A39B00;
        }
        rect.data-rect.Orzhov{
            fill:#A39B00;
        }
        rect.data-rect.Gruul{
            fill:#A39B00;
        }
        rect.data-rect.Izzet{
            fill:#A39B00;
        }
        rect.data-rect.Simic{
            fill:#A39B00;
        }
        rect.data-rect.Azorius{
            fill:#A39B00;
        }
        rect.data-rect.Rakdos{
            fill:#A39B00;
        }
    </style>
{% endblock extra_css %}
