/*! project specific LESS goes here.*/

@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

/** Palettes:
 * http://www.colourlovers.com/palette/1287232/good
 * http://www.colourlovers.com/palette/1415456/my_caravan_queen
 * http://www.colourlovers.com/palette/2828110/Jane_1
 * http://www.colourlovers.com/palette/1676040/indian_summer (particularly good?)
 * like SecretKey here: http://www.onextrapixel.com/2013/10/25/40-stunning-website-designs-with-great-color-schemes/
    #3f3860
    #90c5a9
    #7a9a95
    #ef6d3b
    #fa8b60
 */

@dark-backing: #444444;
@prominent-backing: #555555;
@light-backing: #EEEEEE;
@disabled-backing: darken(@dark-backing, 20%);
@body-bg: #000000;
@panel-bg: @dark-backing;
@well-bg: @dark-backing;
@input-bg: @prominent-backing;
@breadcrumb-bg: @dark-backing;
@pagination-bg: @dark-backing;
@pagination-disabled-bg: @disabled-backing;
@btn-default-bg: @light-backing;

@input-bg-disabled: @disabled-backing;
@input-group-addon-bg: @light-backing;

@legend-color: @light-backing;
@jumbotron-color: #000000;
@brand-danger: #ef6d3b;
@brand-info: #4874F9;
@brand-success: #43BA5F;
@brand-warning: #C7CB33;

@state-danger-bg: darken(@brand-danger, 10%);
@state-info-bg: darken(@brand-info, 10%);
@state-success-bg: darken(@brand-success, 10%);
@state-warning-bg: darken(@brand-warning, 10%);
@brand-primary: #9C365A;
@state-primary-bg: darken(@brand-primary, 10%);

// #DB0909
// #36faf9
@table-bg-hover: #3E3E3E;
@background-color: #1E1E1E;
@font-family-sans-serif: 'Ubuntu Mono';
@icon-font-path: '../bootstrap/fonts/';
@nav-tabs-active-link-hover-bg: @brand-info;

/*
 * @navbar-inverse-bg: #3e1c33;
 * @navbar-inverse-border: darken(@navbar-inverse-bg, 7.5%);
 * @navbar-inverse-color: #f4cff1;
 * @navbar-inverse-link-active-bg: darken(@navbar-inverse-bg, 7.5%);
 */

@text-color: #f6f7f0;

@container-large-desktop: @container-desktop;
