/*! project specific LESS goes here. */

@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

/** Palettes:
 * http://www.colourlovers.com/palette/1287232/good
 * http://www.colourlovers.com/palette/1415456/my_caravan_queen
 * http://www.colourlovers.com/palette/2828110/Jane_1
 * http://www.colourlovers.com/palette/1676040/indian_summer (particularly good?)
 * like SecretKey here: http://www.onextrapixel.com/2013/10/25/40-stunning-website-designs-with-great-color-schemes/
    #3f3860
    #90c5a9
    #7a9a95
    #ef6d3b
    #fa8b60
 */

@body-bg: #000000;
@brand-danger: #ef6d3b;
@brand-info: #f6dca2;
@brand-success: #90c5a9;
@brand-warning: #fa8b60;

@brand-primary: #36faf9;

// #DB0909

@table-bg-hover: #3E3E3E;
@background-color: #1E1E1E;
@font-family-sans-serif: 'Ubuntu Mono';
@icon-font-path: '../bootstrap/fonts/';
@nav-tabs-active-link-hover-bg: @brand-info;

/*
 * @navbar-inverse-bg: #3e1c33;
 * @navbar-inverse-border: darken(@navbar-inverse-bg, 7.5%);
 * @navbar-inverse-color: #f4cff1;
 * @navbar-inverse-link-active-bg: darken(@navbar-inverse-bg, 7.5%);
 */

@text-color: #f6f7f0;

@container-large-desktop: @container-desktop;
